body{

    background:#999;
    font-family: Arial;
}

h2{
    color:#666
}

a{

    color: blue;
}

p{

    background: #666;
    color: white;
    padding: 10px 10px;
}

.second {

background: none;
color: white;


}